In [2]:
import pandas as pd
import numpy as np
from pprint import pprint

In [2]:
flights_df = pd.read_csv("flights.csv")
airlines_df = pd.read_csv("airlines.csv")
airports_df = pd.read_csv("airports.csv")

C:\Users\Andrew Chin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
combined_df = pd.merge(flights_df, airlines_df, left_on='AIRLINE', right_on='IATA_CODE')
combined_df = pd.merge(combined_df, airports_df, left_on='ORIGIN_AIRPORT', right_on='IATA_CODE')

In [4]:
combined_df = combined_df[['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE_x', 'FLIGHT_NUMBER', 'ORIGIN_AIRPORT', 'LATITUDE', 'LONGITUDE', 'CITY', 'STATE', 'COUNTRY', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'SCHEDULED_TIME', 'SCHEDULED_ARRIVAL', 'DISTANCE', 'ARRIVAL_DELAY', 'DEPARTURE_DELAY']]

In [5]:
combined_df['DEPARTURE_DELAY'] = np.where(combined_df['DEPARTURE_DELAY'] > 0, 1, 0).astype('int')

In [6]:
combined_df.head(10)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE_x,FLIGHT_NUMBER,ORIGIN_AIRPORT,LATITUDE,LONGITUDE,CITY,STATE,COUNTRY,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,SCHEDULED_TIME,SCHEDULED_ARRIVAL,DISTANCE,ARRIVAL_DELAY,DEPARTURE_DELAY
0,2015,1,1,4,AS,98,ANC,61.17432,-149.99619,Anchorage,AK,USA,SEA,5,2354.0,205.0,430,1448,-22.0,0
1,2015,1,1,4,AS,108,ANC,61.17432,-149.99619,Anchorage,AK,USA,SEA,45,41.0,204.0,509,1448,-14.0,0
2,2015,1,1,4,AS,122,ANC,61.17432,-149.99619,Anchorage,AK,USA,PDX,50,46.0,215.0,525,1542,-18.0,0
3,2015,1,1,4,AS,136,ANC,61.17432,-149.99619,Anchorage,AK,USA,SEA,135,NaN,205.0,600,1448,NaN,0
4,2015,1,1,4,AS,134,ANC,61.17432,-149.99619,Anchorage,AK,USA,SEA,155,140.0,218.0,633,1448,-35.0,0
5,2015,1,1,4,AS,144,ANC,61.17432,-149.99619,Anchorage,AK,USA,PDX,200,150.0,210.0,630,1542,-11.0,0
6,2015,1,1,4,AS,114,ANC,61.17432,-149.99619,Anchorage,AK,USA,SEA,220,209.0,200.0,640,1448,-12.0,0
7,2015,1,1,4,AS,730,ANC,61.17432,-149.99619,Anchorage,AK,USA,SEA,505,457.0,205.0,930,1448,-14.0,0
8,2015,1,1,4,AS,157,ANC,61.17432,-149.99619,Anchorage,AK,USA,OTZ,630,622.0,102.0,812,548,-10.0,0
9,2015,1,1,4,AS,112,ANC,61.17432,-149.99619,Anchorage,AK,USA,SEA,700,653.0,210.0,1130,1448,-15.0,0

In [7]:
combined_df = combined_df.dropna()

In [8]:
'''Reduce dataset to 25% due to memory errors'''

combined_df = combined_df.sample(frac=0.25, replace=True, random_state=1)

In [10]:
combined_df = pd.get_dummies(combined_df)

In [11]:
X = combined_df.drop('DEPARTURE_DELAY', axis=1)
y = combined_df['DEPARTURE_DELAY']

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [13]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [14]:
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [15]:
print(f"Training Data Score: {model.score(X_train, y_train)}")
print(f"Testing Data Score: {model.score(X_test, y_test)}")

Training Data Score: 0.8161107205139692
Testing Data Score: 0.8168284551874879

In [16]:
predictions = model.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

         Prediction  Actual
1854113           0       0
2267482           0       1
2499902           1       1
2663656           0       0
3749380           0       0
3920436           0       0
1027969           0       1
717234            1       1
4826052           0       0
3391303           1       0
588288            1       0
4334484           1       1
3389199           0       1
2977626           1       0
4146201           1       1
879704            0       0
2096023           1       1
1084868           1       1
2368850           0       0
2635824           0       1
1232746           1       0
1842740           1       1
193862            0       0
4623055           0       1
1961119           1       1
955724            0       0
1277659           0       1
308198            0       0
2442226           0       0
2213303           0       0
...             ...     ...
4919584           0       0
8918              0       0
5038809           0       0
4385525           0       0
1537391           0       0
398418            0       0
215085            0       1
535532            0       0
4062450           0       0
3288616           1       1
4675651           0       0
2673119           0       0
530978            0       0
5204174           0       1
2575870           0       0
5100077           0       0
3300835           0       0
3866955           0       1
2823726           0       0
2266731           0       0
4845105           1       1
3104704           0       0
2502826           1       1
570494            1       1
4030349           0       0
3882932           1       0
3033560           1       1
2550742           0       0
4288291           0       0
2601942           1       0

[326661 rows x 2 columns]

In [17]:
'''Save model'''

import pickle

filename = 'predictingflightdelays.sav'
pickle.dump(model, open(filename, 'wb'))
loaded_model = pickle.load(open(filename, 'rb'))

In [18]:
result = loaded_model.score(X_test, y_test)
print(result)

0.8168284551874879

In [1]:
testdata=combined_df.head(1)

NameError: name 'combined_df' is not defined